<section class="contanier02">
    <div class="adoção">
        <h2 class="texto01">O processo de adoção segue alguns passos:</h2>
    </div>
    <div class="lista">
        <strong><ol class="regras">
            <li>O futuro tutor deve preencher um <strong><a class="formulario01" href="~/Home/Cadastro">formulário no site da ONG.</a></strong></li>
            <li>A equipe entrará entra em contato com o possível tutor, expondo um pouco do animal, para verificar se são compatíveis;</li>
            <li>Em caso afirmativo, o tutor responde ao formulário de adoção para que a ONG possa conhecer um pouco mais sobre as pessoas e o ambiente onde o animal será acolhido;</li>
            <li>Estando tudo certo, o tutor assina um termo de adoção, assumindo responsabilidades pelo animal;</li>
            <li>Por fim, a equipe leva o animal para sua nova família definitiva.</li>
        </ol></strong>
    </div>
        <div class="financeiro">
        <h3 class="texto03">Para contribuir financeiramente:</h3>
        <ul class="pagametos">
            <li>Pix: <strong>ongauausede@gmail.com</strong></li>
            <li>Depósito: <strong>Banco Itau:2557-7 | CC: 68.716-9 - Associação AuAu</strong></li>
        </ul>
    </div>
</section>
