.container01 {
    text-align: center;
    background-image: url(https://i.pinimg.com/564x/82/01/a1/8201a1999741f5effff47aa21f709ca8.jpg);
    height: 250px;
}
.tema {
    font-size: 2.2rem;
    font-family: auto;
    margin-bottom: 0px;
    padding-top: 90px;
}
.subtema {
    font-size: 1.2rem;
    font-family: auto;
}
.container40 {
    background: #efefef6b;
    height: 550px;
    width: 1224px;
}
.fundadores {
    text-align: center;
    font-family: auto;
    margin-top: 25px;
}
.quem_somos {
    font-size: 1.9rem;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
    margin: 0px 450px 50px 450px;
    
}
.arthur {
    transition: all 0.5s;
    cursor: pointer;
    background-color: #000000f7;
    width: 255px;
    color: #fffffffa;
}
.arthur:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    -webkit-transform: scale(1.5);
    transform: scale(1.2);

}
.imagem3{

    width: 255px;
    height: 255px;
}

.diretores {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.subtilulos {
    font-size: 20px;
}
.tema01 {
    font-size: 15px;
}
.tema01, .subtilulos {
    margin-bottom: 0px;
}
.subtilulos {
padding-left: 69px;
}
.linkn {
    padding-left: 115px;
}
.container021 {
    background: #efefef6b;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
 }
 .quem_somos02 {
    font-size: 1.9rem;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
    margin: 0px 400px 55px 400px;
    font-family: auto;
 }
 .conteiner002 {
    display: flex;
    justify-content: center;
    background: #efefef6b;
    height: 400px;
 }
 .texto002{
    display: flex;
    align-items: center;
 }
.AuAu {
    width: 687px;
    padding-right: 5rem;
    -webkit-text-stroke-width: medium;
}
.pai_de_pet {
    width: 200px;
    border-radius: 5%;
    transition: all 0.5s;
    cursor: pointer;
}
.pai_de_pet:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.4);
}
.Quem_Somos001 {
    font-size: 25px;
    padding-top: 20px;
}
.container031 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container110 {
    width: 1124px;
}
.container111 {
    display: flex
}
.quem_somos15 {
    font-size: 1.9rem;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
}
.texto03 {
    text-align: center;
    display: flex;
    font-size: 18px;
}
.Quem_Somos02 {
    font-size: 25px;
}
.finalização {
    padding-top: 50px;
}