<section class="container01">
    <div class="temas">
        <h5 class="tema">O trabalho das nossas vidas e a importância dos resgates de animais em Campinas-SP</h5>
        <legend class="subtema">Heróis da proteção animal: Quem são? Onde vivem? O que fazem?</legend>
    </div>
</section>
<section class="container021">
    <div class="quem_somos02">
        <h2 class="Quem_Somos001">QUEM SOMOS</h2>
    </div>
</section>
<section class="conteiner002">  
    <div class="texto002">
        <p class="AuAu">A AuAu fez o seu primeiro resgate em fevereiro de 2017 e, desde então, já ultrapassou a marca de 1.100 cães e gatos regatados. Nosso trabalho consiste em salvar animais extremamente debilitados, seja nas ruas ou em situações de maus-tratos. Priorizamos animais que são invisíveis à maioria, como adultos e idosos, sem raça definida, com doenças e traumas graves. Acreditamos que aqueles que têm menos chances de receber ajuda são, também, os que têm menos perspectivas de vida. Por isso nossos esforços são direcionados a salvá-los. (olhem esse pai de pet, com um dos primeiros animais resgatados).</p>
        <img src="~/img/pai_de_pet.png" class="pai_de_pet" alt="pai_de_pet">
     </div>
</section>
<section class="container031" style="padding-top: 50px;">
    <div class="quem_somos15">
        <h2 class="Quem_Somos02">Dependemos, exclusivamente, de doações. São várias as maneiras de contribuir.</h2>
    </div>
<section class="container110">
    <div class="container111">
        <div class="ct-div-block ">
            <div id="fancy_icon-951-9">
                <svg id="svg-fancy_icon-951-9"></svg>
        </div>
                <h4>Voluntariado</h4>
                    <div id="text_block-953-9" style="font-size: 12.5px;" class="ct-text-block atomic-hero-1-iconbox-text">Doe seu tempo e talento para os animais que aguardam adoção.</div>
                        <div id="fancy_icon-954-9" class="ct-fancy-icon atomic-hero-1-iconbox-icon">
                            <svg id="svg-fancy_icon-954-9"></svg>
                    </div>
                
                <h4>Lar temporário</h4>
                    <div id="text_block-956-9" style="font-size: 12.5px;" class="ct-text-block atomic-hero-1-iconbox-text">Abrigue um animal até ele encontrar uma família para sempre.</div>
                        <div id="fancy_icon-957-9" class="ct-fancy-icon atomic-hero-1-iconbox-icon">
                            <svg id="svg-fancy_icon-957-9"></svg>
                    </div>
                        
                <h4 id="headline-958-9" class="ct-headline atomic-hero-1-iconbox-title">Doe ração</h4>
                    <div id="text_block-959-9" style="font-size: 12.5px;" class="ct-text-block atomic-hero-1-iconbox-text">De qualquer marca, desde que seja sem corantes.</div></a>
                    </div>
                        
                <div id="div_block-960-9" class="ct-div-block ">
                        <img id="image-961-9" alt="" src="https://sp-ao.shortpixel.ai/client/to_auto,q_lossless,ret_img/https://laticao.org.br/wp-content/uploads/2021/02/cao-gato.png" class="ct-image aos-init ls-is-cached lazyloaded aos-animate" style="width: 470px;" data-aos="fade-right" data-aos-duration="600" data-aos-delay="250" data-aos-once="true">
                </div>
        <div class="ct-div-block ">
                    <div id="fancy_icon-963-9">
                        <svg id="svg-fancy_icon-963-9"></svg>
        </div>
                <h4>Seja nosso parceiro</h4>
                    <div id="text_block-965-9" style="font-size: 12.5px;" class="ct-text-block atomic-hero-1-iconbox-text">Tem uma empresa e quer ajudar? Vamos crescer juntos.</div>
                        <div id="fancy_icon-966-9" class="ct-fancy-icon atomic-hero-1-iconbox-icon">
                            <svg id="svg-fancy_icon-966-9"></svg>
                    </div>
                    
                <h4>Doe outros itens</h4>
                    <div id="text_block-968-9" style="font-size: 12.5px;" class="ct-text-block atomic-hero-1-iconbox-text">Aceitamos produtos e medicamentos para animais, além de roupas para vendermos em nossos bazares.</div>
                        <div id="fancy_icon-969-9" class="ct-fancy-icon atomic-hero-1-iconbox-icon">
                            <svg id="svg-fancy_icon-969-9"></svg>
                    </div>
                    
                <h4>Doação on-line</h4>
                    <div id="text_block-971-9" style="font-size: 12.5px;" class="ct-text-block atomic-hero-1-iconbox-text">Via PicPay, Nubank ;<br>PIX 716-051-924.81 (CPF).</div>
    </div>
</section>
<section id="google-map-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 padding-0">
                    <object style="border:0; height: 390px; width: 1210px;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.5279007777663!2d-47.087341785776964!3d-22.81995074051366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8c1336ad9bddb%3A0xdb3e7a61210fbc5c!2sSolares%20TI!5e0!3m2!1spt-BR!2sbr!4v1631811109776!5m2!1spt-BR!2sbr"></object>
                </div>
            </div>
        </div>
    </section>
<section class="container40">
    <div class="fundadores">
        <h1 class="quem_somos">NOSSOS FUNDADORES</h1>
    </div>
    <div class="diretores">
        <div class="arthur">
            <img class="imagem3" src="~/img/arthur.jpg" />
                <h1 class="subtilulos">Arthur Ribeiro</h1>
                    <legend style="padding-left: 88px;" class="tema01">Ceo | Diretor</legend> 
                         <a class="linkn" href="https://www.linkedin.com/in/arthur-guilherme-ribeiro-8b3944235/">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
        </div>
        <div class="arthur">
            <img class="imagem3" src="~/img/andre.jpg" />
                <h1 class="subtilulos">André Sabino</h1>
                    <legend style="padding-left: 83px;" class="tema01">Diretor Tecnico</legend>
                         <a class="linkn" href="https://www.linkedin.com/in/andr%C3%A9-sabino-1602a1255/">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
        </div>
        <div class="arthur">
            <img class="imagem3" src="~/img/bruno.jpg" />
                <h1 class="subtilulos">Bruno Amorim</h1>
                    <legend style="padding-left: 90px;" class="tema01">Diretor Geral</legend>
                        <a class="linkn"endi href="https://www.linkedin.com/in/bruno-amorim-028867247/">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
        </div>
</section>

